body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, rgba(228, 236, 86, 0.7), rgba(51, 51, 51, 0.7)), url('tu-imagen-de-fondo.jpg');
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.form-container {
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #007BFF;
    font-size: 16px;
    outline: none;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-bottom: 2px solid #0056b3;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}